apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo-backend
  labels:
    app: todo-backend
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: todo-backend
  template:
    metadata:
      labels:
        app: todo-backend
    spec:
      containers:
      - name: backend
        image: "{{ .Values.backend.image.repository }}:{{ .Values.backend.image.tag }}"
        imagePullPolicy: Never
        ports:
        - containerPort: 7860
        env:
        - name: DATABASE_URL
          value: {{ .Values.backend.env.DATABASE_URL | quote }}
        - name: SECRET_KEY
          value: {{ .Values.backend.env.SECRET_KEY | quote }}
        volumeMounts:
        - mountPath: "/app/data"
          name: backend-data
      volumes:
      - name: backend-data
        persistentVolumeClaim:
          claimName: todo-data-pvc
